<!-- URL para los íconos de redes sociales -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

<!-- Footer Maestría en Ingeniería -->
<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h3>hola mundo hola mundo hola</h3>
            <p>hola mundo hola mundo hola</p>
            <p>hola mundo hola mundo hola</p>
            <p>hola mundo hola mundo hola</p>
        </div>
        <div class="footer-section">
            <h3>hola mundo hola mundo hola</h3>
            <p>hola mundo hola mundo hola</p>
            <p>hola mundo hola mundo hola</p>
        </div>
        <div class="footer-section">
            <h3>Sígueme</h3>
            <!-- Sección de Redes Sociales -->
            <p>
                <a href="https://www.facebook.com/people/Llega-a-ser-el-que-eres-Alberto-Negrete/100064041333602/?mibextid=wwXIfr&rdid=HWWxacZFSwGoHLK3&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F18pWT8xHQv%2F%3Fmibextid%3DwwXIfr"
                    target="_blank" class="footer-linkMaestria">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="https://api.whatsapp.com/send/?phone=6181193347&text&type=phone_number&app_absent=0" target="_blank" class="footer-link">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
                <a href="https://www.instagram.com/gobmexico/" target="_blank" class="footer-link">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </p>
        </div>
    </div>
</footer>
