<!-- URL para los íconos de redes sociales -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

<!-- Footer -->
<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <a href="/index.html" class="footer-link">
                <img src="assets/LogoAlberto.png" alt="Descripción de la imagen" class="footer-imagen">
            </a>
        </div>
        <div class="footer-section">
            <h3>Servicios</h3>
            <p>Consultorias</p>
            <p>Capacitaciones</p>
            <p>Casos de éxito</p>
        </div>
        <div class="footer-section">
            <h3>Contacto y ubicación</h3>
            <p>Tel. 618 119 3347</p>
            <p>Blvd. Felipe Pescador 1830, Nueva Vizcaya, 34080 Durango, Dgo.</p>
            <p>Oficina ubicada en el Centro de Innovación Tecnológica</p>
        </div>
        <div class="footer-section">
            <h3>Síguenos</h3>
            <!-- Sección de Redes Sociales -->
            <p>
                <a href="https://www.facebook.com/people/Llega-a-ser-el-que-eres-Alberto-Negrete/100064041333602/?mibextid=wwXIfr&rdid=HWWxacZFSwGoHLK3&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F18pWT8xHQv%2F%3Fmibextid%3DwwXIfr"
                    target="_blank" class="footer-linkMaestria">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="https://api.whatsapp.com/send/?phone=6181193347&text&type=phone_number&app_absent=0"
                    target="_blank" class="footer-link">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
                <a href="" target="_blank" class="footer-link">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </p>
        </div>
    </div>
</footer>
