
/* Casos de Éxito */
.testimonios-section {
  padding: 80px 10%;
  background-color: #ffff;
  color: #333;
}

.titulo {
  margin-top: -50px;
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 30px;
  font-weight: 500;
  color: #222;
  letter-spacing: 2px;
}

.testimonio {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 60px;
  background-color: #fff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(206, 91, 12, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonio:hover {
  box-shadow: 0 10px 25px rgba(206, 91, 12, 0.3);
}

.imagen-container {
  flex: 0 0 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen-testimonio {
  width: 180px;
  height: 180px;
  border-radius: 60%;
  object-fit: cover;
}

.contenido-testimonio {
  flex: 1;
}

.nombre {
  font-size: 1.6rem;
  font-weight: 400;
  color: #111;
  margin-bottom: -18px;
}

.puesto {
  font-size: 1rem;
  font-weight: 300;
  color: #ce5b0c;
  margin-bottom: 16px;
}

.texto {
  font-size: 1.1rem;
  font-weight: 300;
  font-style: italic;
  line-height: 1.7;
  color: #444;
}

/* Responsive */
@media (max-width: 900px) {
  .testimonio {
    flex-direction: column;
    text-align: center;
    gap: 25px;
  }

  .imagen-container {
    flex: none;
  }

  .imagen-testimonio {
    width: 150px;
    height: 150px;
  }

  .contenido-testimonio {
    text-align: center;
  }
}
